In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)

In [3]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [4]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [5]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
ser1 = Series([0,1,2], index=['T','U','V'])
ser1

T    0
U    1
V    2
dtype: int64

In [12]:
ser2 = Series([3,4],index=['X','Y'])
ser2

X    3
Y    4
dtype: int64

In [13]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [17]:
pd.concat([ser1,ser2],axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [18]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [19]:
df1 = DataFrame(np.random.randn(4,3),columns=['X','Y','Z'])
df2 = DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])

In [20]:
df1

          X         Y         Z
0  0.444945 -0.816754  2.001600
1 -0.056725 -1.137438 -1.101265
2 -0.310396  0.742383  0.762888
3  0.606539 -0.160829 -0.772589

In [21]:
df2

          Y         Q         X
0  1.592656 -1.252777 -0.541150
1 -0.205413 -1.075435 -0.414884
2  1.636670  1.348272  0.322143

In [22]:
pd.concat([df1,df2])

          Q         X         Y         Z
0       NaN  0.444945 -0.816754  2.001600
1       NaN -0.056725 -1.137438 -1.101265
2       NaN -0.310396  0.742383  0.762888
3       NaN  0.606539 -0.160829 -0.772589
0 -1.252777 -0.541150  1.592656       NaN
1 -1.075435 -0.414884 -0.205413       NaN
2  1.348272  0.322143  1.636670       NaN

In [23]:
pd.concat([df1,df2],ignore_index=True)

          Q         X         Y         Z
0       NaN  0.444945 -0.816754  2.001600
1       NaN -0.056725 -1.137438 -1.101265
2       NaN -0.310396  0.742383  0.762888
3       NaN  0.606539 -0.160829 -0.772589
4 -1.252777 -0.541150  1.592656       NaN
5 -1.075435 -0.414884 -0.205413       NaN
6  1.348272  0.322143  1.636670       NaN