In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
from string import string

ImportError: cannot import name 'string'

In [26]:
df = DataFrame({'Sample':[1,2,3,4,5,6],'Animal':['Dog','Dog','Cat','Cat','Dog','Cat'],
                'Intelegence':['Smart','Smart','Dumb','Dumb','Dumb','Smart']})

In [27]:
df

  Animal Intelegence  Sample
0    Dog       Smart       1
1    Dog       Smart       2
2    Cat        Dumb       3
3    Cat        Dumb       4
4    Dog        Dumb       5
5    Cat       Smart       6

In [28]:
pd.crosstab(df.Animal,df.Intelegence,margins=True)

Intelegence  Dumb  Smart  All
Animal
Cat             2      1    3
Dog             1      2    3
All             3      3    6