In [4]:
import numpy as np
import pandas as pd

In [5]:
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()

In [7]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East

In [8]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Total Games ', 'Division'],
      dtype='object')

In [32]:
nfl_frame['Rank ']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
Name: Rank , dtype: int64

In [33]:
DataFrame(nfl_frame,columns=['Team ', 'First NFL Season ', 'Total Games '])

                    Team   First NFL Season  Total Games
0         Dallas Cowboys                1960         866
1      Green Bay Packers                1921       1,320
2          Chicago Bears                1920       1,354
3         Miami Dolphins                1966         784
4   New England Patriots                1960         868
5        New York Giants                1925       1,289
6         Denver Broncos                1960         868
7      Minnesota Vikings                1961         854
8       Baltimore Ravens                1996         336
9    San Francisco 49ers                1950         986
10    Indianapolis Colts                1953         950
11       Oakland Raiders                1960         868
12   Pittsburgh Steelers                1933       1,156
13    Kansas City Chiefs                1960         868
14   Washington Redskins                1932       1,186

In [34]:
DataFrame(nfl_frame,columns=['Team ', 'First NFL Season ', 'Total Games ', 'Stadium'])

                    Team   First NFL Season  Total Games   Stadium
0         Dallas Cowboys                1960         866       NaN
1      Green Bay Packers                1921       1,320       NaN
2          Chicago Bears                1920       1,354       NaN
3         Miami Dolphins                1966         784       NaN
4   New England Patriots                1960         868       NaN
5        New York Giants                1925       1,289       NaN
6         Denver Broncos                1960         868       NaN
7      Minnesota Vikings                1961         854       NaN
8       Baltimore Ravens                1996         336       NaN
9    San Francisco 49ers                1950         986       NaN
10    Indianapolis Colts                1953         950       NaN
11       Oakland Raiders                1960         868       NaN
12   Pittsburgh Steelers                1933       1,156       NaN
13    Kansas City Chiefs                1960         868       NaN
14   Washington Redskins                1932       1,186       NaN

In [35]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [36]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East

In [37]:
nfl_frame.ix[3]

Rank                               4
Team                 Miami Dolphins
Won                              439
Lost                             341
Tied                               4
Pct.                           0.563
First NFL Season                1966
Total Games                     784
Division                    AFC East
Name: 3, dtype: object

In [38]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [39]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [41]:
nfl_frame['Stadium'] = np.arange(15)

In [42]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4

In [44]:
stadium = Series(["Levi's Stadium", 'AT&T Stadium'], index=[5,0])
stadium

5    Levi's Stadium
0      AT&T Stadium
dtype: object

In [45]:
nfl_frame['Stadium'] = stadium

In [47]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NaN
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,NaN
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,NaN
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South,NaN
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West,NaN
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North,NaN
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West,NaN
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East,NaN

In [48]:
del nfl_frame['Stadium']

In [49]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West
10,11,Indianapolis Colts,502,441,7,0.532,1953,950,AFC South
11,12,Oakland Raiders,456,401,11,0.532,1960,868,AFC West
12,13,Pittsburgh Steelers,601,535,20,0.529,1933,"1,156",AFC North
13,14,Kansas City Chiefs,447,409,12,0.522,1960,868,AFC West
14,15,Washington Redskins,586,572,28,0.506,1932,"1,186",NFC East

In [50]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 8400000]}

In [51]:
city = DataFrame(data)

In [52]:
city

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000