In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
import pandas.util.testing as tm; tm.N=3

def unpivot(frame):
    N, K = frame.shape
    
    data = {'value':frame.values.ravel('F'),
           'variable':np.asarray(frame.columns).repeat(N),
           'date':np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date','variable','value'])

df = unpivot(tm.makeTimeDataFrame())

In [10]:
df

         date variable     value
0  2000-01-03        A  0.624065
1  2000-01-04        A -0.553906
2  2000-01-05        A  0.323361
3  2000-01-03        B -0.582208
4  2000-01-04        B  0.904287
5  2000-01-05        B  2.259211
6  2000-01-03        C  2.699471
7  2000-01-04        C  0.820474
8  2000-01-05        C  0.272238
9  2000-01-03        D -0.969062
10 2000-01-04        D -1.248818
11 2000-01-05        D -0.824177

In [12]:
df_pivot = df.pivot('date','variable','value')
df_pivot

variable           A         B         C         D
date
2000-01-03  0.624065 -0.582208  2.699471 -0.969062
2000-01-04 -0.553906  0.904287  0.820474 -1.248818
2000-01-05  0.323361  2.259211  0.272238 -0.824177