In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([1,2,3,4,1,2,3,4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [4]:
ser1.replace(1,np.nan)

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [5]:
ser1.replace([1,4],[100,400])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [6]:
ser1.replace({4:np.nan})

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64

In [8]:
? DataFrame.replace()

In [9]:
df = DataFrame(np.arange(16).reshape(4,4),columns=['A','B','C','D'])

In [10]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df.replace([1,9],[100,90])

    A    B   C   D
0   0  100   2   3
1   4    5   6   7
2   8   90  10  11
3  12   13  14  15