In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
df = DataFrame({'k1':['X','X','Y','Y','Z'],
               'k2':['altha','beta','alpha','beta','alpha'],
               'dataset1':np.random.randn(5),
               'dataset2':np.random.randn(5)})
df

   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha
1  1.471532 -0.093927  X   beta
2  0.772241  1.192831  Y  alpha
3 -0.416892 -0.420359  Y   beta
4 -0.410657 -1.524068  Z  alpha

In [4]:
grou1 = df['dataset1'].groupby(df['k1'])
grou1

In [5]:
grou1.mean()

k1
X   -0.400315
Y    0.177675
Z   -0.410657
Name: dataset1, dtype: float64

In [6]:
cities = np.array(['NY','LA','LA','NY','NY'])
cities

array(['NY', 'LA', 'LA', 'NY', 'NY'],
      dtype='<U2')

In [7]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
df['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.471532
    JAN    0.772241
NY  FEB   -0.416892
    JAN   -1.341409
Name: dataset1, dtype: float64

In [9]:
df

   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha
1  1.471532 -0.093927  X   beta
2  0.772241  1.192831  Y  alpha
3 -0.416892 -0.420359  Y   beta
4 -0.410657 -1.524068  Z  alpha

In [11]:
df.groupby('k1').mean()

    dataset1  dataset2
k1
X  -0.400315  0.355894
Y   0.177675  0.386236
Z  -0.410657 -1.524068

In [12]:
df.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  altha -2.272162  0.805714
   beta   1.471532 -0.093927
Y  alpha  0.772241  1.192831
   beta  -0.416892 -0.420359
Z  alpha -0.410657 -1.524068

In [13]:
df.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [19]:
for name,group in df.groupby('k1'):
    print("This is the %s group"%name)
    print(group)
    print('\n')

This is the X group
   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha
1  1.471532 -0.093927  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.772241  1.192831  Y  alpha
3 -0.416892 -0.420359  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4 -0.410657 -1.524068  Z  alpha

In [23]:
for (k1,k2),group in df.groupby(['k1','k2']):
    print("Key1 = %s Key2 = %s"%(k1,k2))
    print(group)
    print('\n')

Key1 = X Key2 = altha
   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1  1.471532 -0.093927  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.772241  1.192831  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.416892 -0.420359  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4 -0.410657 -1.524068  Z  alpha

In [25]:
group_dic = dict(list(df.groupby('k1')))

In [27]:
group_dic['X']

   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha
1  1.471532 -0.093927  X   beta

In [28]:
group_dict_axis1 = dict(list(df.groupby(df.dtypes, axis=1)))

In [29]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -2.272162  0.805714
 1  1.471532 -0.093927
 2  0.772241  1.192831
 3 -0.416892 -0.420359
 4 -0.410657 -1.524068, dtype('O'):   k1     k2
 0  X  altha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [32]:
dataset2_group = df.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  altha  0.805714
   beta  -0.093927
Y  alpha  1.192831
   beta  -0.420359
Z  alpha -1.524068

In [30]:
df

   dataset1  dataset2 k1     k2
0 -2.272162  0.805714  X  altha
1  1.471532 -0.093927  X   beta
2  0.772241  1.192831  Y  alpha
3 -0.416892 -0.420359  Y   beta
4 -0.410657 -1.524068  Z  alpha