In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
import numpy as np

In [4]:
xlsfile = pd.ExcelFile('test.xlsx')

In [5]:
df = xlsfile.parse('Sheet1')
df

   это тестовый файл  Unnamed: 1  Unnamed: 2
0                NaN         NaN         NaN
1                NaN         NaN         NaN
2               12.0      2134.0       323.0
3               23.0       234.0       232.0
4             4232.0       234.0       123.0
5              123.0     52432.0      3244.0
6              234.0       234.0     23432.0
7                NaN       323.0       123.0